<body>
  <br/>
  <br/>
  <br/>
  <form action = "../postContact" method = "post">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu mail" required>
    </div>
    <div class="form-group">
      <label for="inputSubject">Asunto</label>
      <input type="text" class="form-control" id="inputSubject" aria-describedby="emailHelp" placeholder="Ingresa el asunto" required>
    </div>
    <div class="form-group">
      <label for="inputMessage">Mensaje</label>
      <textarea class="form-control" id="inputMessage" rows="3" placeholder="Ingresa el mensaje" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>