<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Prodelco</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Inicio</a></li>
      <li><a href="#">Empresa</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>
</nav>