@import "bootstrap-sprockets";
@import "bootstrap";


body {
    background: image-url("gray_opt.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    max-width: 2000px;
    min-width: 600px;
}

#body-home {
    background: image-url("New-York.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.footer {
    background-color: black;
    color: gray;
    font-weight: bold;
    position: fixed;
    height: 30px;
    bottom: 0px;
    width: 100%;
}

#header {
    font-weight: bold;
}

.nav.navbar-nav.navbar-left li a {
    color:gray;
}
.nav.navbar-nav.navbar-right li a {
    color:gray;
}

/* DROPDOWN HOVER */

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

#T1:hover #L1 {
    opacity: 0.5;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.alert {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
}

#map {
    height: 30vw;
    width: 40vw;
    display: block;
}
.vertical-center {
    margin-top: 10vh;
    margin-left: 0vw;
    vertical-align: middle;
    float: none; 
} 

#vimeo {
    height: 20vw;      
    width: 40vw;  
}

#iframe{
    width: 100%;
    height: 100%;
}
.image-carousel{
    min-height: 100%;
    max-width: 100%;    
}

.carousel-inner{
    height: 85vh;
}

.texto{
    height: 50vh;
}

#logo{
    height: 37vh;
    float: left;
}

.nav.nav-tabs li.active a{
    background-color: rgb(50,50,50);
    color: rgb(150,150,150);
    border-color: rgb(150,150,150);
    font-size: 1vw;
    border: 0px;
}

.nav.nav-tabs li a {
    background-color: rgb(90,90,90);
    color: rgb(150,150,150);
    border-color: rgb(90,90,90);
    font-size: 1vw;
    border: 0px;   
}

.nav.nav-tabs {
    border-color: rgb(50,50,50);
    border-width: 2px;
}

text.accordion {
    background-color: transparent;
    color: rgb(50,50,50);
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 16px;
    font-family: "Arial";
    font-weight: bold;
    width: 15vw;
    margin-left: 1vw;
}

text.accordion.active {
    background-color: transparent;
} 
text.accordion:hover {
    background-color: transparent;
    text-decoration: underline;
}

text.accordion:after {
    content: '\002B';
    color: rgb(50,50,50);
    font-weight: bold;
    font-size: 15px;
    float: left;
}

text.accordion.active:after {
    content: "\2212";
}

div.panel {
    margin-bottom: 1vw;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    color: rgb(60,60,60);
    font-weight: bold;
    font-family: "Arial";
    font-size: 14px;
    margin-left: 3vw;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}
