<div class="footer"> 	
	<div class="container" style="text-align:center; padding:5px 0; font-size:14px; text-transform:uppercase">
		&copy; Prodelco Limitada | AV. Manuel Rodriguez 1265 San Fernando, CHILE. | TEL: 56(72) 2714543 | info@prodelco.cl
	</div>	
</div> 